.img01d{ background-image: url("./assets/01d.jpg"); background-size: cover;}
.img02d{ background-image: url("./assets/02d.jpg"); background-size: cover;}
.img03d{ background-image: url("./assets/03d.jpg"); background-size: cover;}
.img04d{ background-image: url("./assets/04d.jpg"); background-size: cover;}
.img09d{ background-image: url("./assets/09d.jpg"); background-size: cover;}
.img10d{ background-image: url("./assets/10d.jpg"); background-size: cover;} 
.img11d{ background-image: url("./assets/11d.jpg"); background-size: cover;}
.img12d{ background-image: url("./assets/12d.jpg"); background-size: cover;}
.img13d{ background-image: url("./assets/13d.jpg"); background-size: cover;}
  
.img01n{ background-image: url("./assets/01n.jpg"); background-size: cover;} 
.img02n{ background-image: url("./assets/02n.jpg"); background-size: cover;} 
.img03n{ background-image: url("./assets/03n.jpg"); background-size: cover;} 
.img04n{ background-image: url("./assets/04n.jpg"); background-size: cover;} 
.img09n{ background-image: url("./assets/09n.jpg"); background-size: cover;} 
.img10n{ background-image: url("./assets/10n.jpg"); background-size: cover;} 
.img11n{ background-image: url("./assets/11n.jpg"); background-size: cover;} 
.img12n{ background-image: url("./assets/12n.jpg"); background-size: cover;} 
.img13n{ background-image: url("./assets/13n.jpg"); background-size: cover;}